![Los Angeles skyline](la_skyline.jpg)
_@Photo by Soly Moses_

# LAPD Crime Analysis Project

Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World! 

Known for its warm weather, palm trees, sprawling coastline, and Hollywood,
along with producing some of the most iconic films and songs.
However, as with any highly populated city, it is not always glamorous and there can be a large volume of crime.
A profound understanding of the criminal dynamics is crucial to enable the police
to strategically allocate their resources and increase their efficiency.

This project aims to analyze a publicly available dataset about criminal activities in Los Angeles.
Using Python and its data analysis libraries (Pandas, Matplotlib, Seaborn),
I sought to identify key trends, such as the predominant crime types,
their temporal variations (hour, day, month), and their geographic distribution across the city's various districts.

The analysis aims to transform raw data into actionable information, particularly through the creation of relevant visualizations, which could serve as a basis for a better understanding of crime phenomena and, potentially, more informed decision-making regarding prevention and resource allocation.

In [47]:
import pandas as pd

crimes = pd.read_csv("crimes.csv", parse_dates=["Date Rptd", "DATE OCC"], dtype={"TIME OCC": str})
crimes.head()

       DR_NO  Date Rptd  ...  Status Desc                                 LOCATION
0  220314085 2022-07-22  ...  Invest Cont  2500 S  SYCAMORE                     AV
1  222013040 2022-08-06  ...  Invest Cont  3300    SAN MARINO                   ST
2  220614831 2022-08-18  ...  Invest Cont                        1900    TRANSIENT
3  231207725 2023-02-27  ...  Invest Cont  6200    4TH                          AV
4  220213256 2022-07-14  ...  Invest Cont  1200 W  7TH                          ST

[5 rows x 12 columns]